$bg-color:#3d3d4a;
$button-color: #3fb8e8;
$font-color: #ffffff;

body{
	background-color: $bg-color;
	color: $font-color;
	margin: 0px;
	height: 100vh;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
}
