<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quadcopter</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/setup.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="left_control">
			<input type="range" min="0" max="100" value="0" class="slider" step="0.08">
			<div class="power">0%</div>
		</div>
		<div class="right_control">
			<button class="leftRotation">&olarr;</button>
			<button class="forward">&uarr;</button>
			<button class="rightRotation">&orarr;</button>
			<button class="left">&larr;</button>
			<button class="dot">&compfn;</button>
			<button class="right">&rarr;</button>
			<button class="backward">&darr;</button>
		</div>
	</div>
</body>
</html>
