body {
  background-color: #3d3d4a;
  color: #ffffff;
  margin: 0px;
  height: 100vh; }

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .container .box {
    width: 550px;
    height: 550px;
    background-color: #31313c;
    position: relative;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .container .box .engine {
      width: 30%;
      height: 30%;
      background-color: #0f7da8;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 2rem; }
      .container .box .engine:nth-child(1) {
        top: 0;
        left: 0; }
      .container .box .engine:nth-child(2) {
        top: 0;
        right: 0; }
      .container .box .engine:nth-child(3) {
        bottom: 0;
        left: 0; }
      .container .box .engine:nth-child(4) {
        bottom: 0;
        right: 0; }
    .container .box .error {
      color: #ac1818;
      font-size: 2.5rem;
      max-width: 75%;
      text-align: center; }
