html, body{
	background-color: #3d3d4a;
	color: #ffffff;
	margin: 0px;
}

/*Main Container*/
.container{
	text-align: center;
	margin-top: 30px;
}

/*Left side of the container - Slider*/
.sliderContainer{
	float: left;
	width: 20%;
}

/*Slider*/
.slider{
	cursor: pointer;
	width: 200px !important;
	-webkit-appearance: none;
	z-index: 200;
	width: 50px;
	border: 1px solid #e6e6e6;
	background-color: #e6e6e6;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d2d2d2));
	background-image: -webkit-linear-gradient(right, #e6e6e6, #d2d2d2);
	background-image: -moz-linear-gradient(right, #e6e6e6, #d2d2d2);
	background-image: -ms-linear-gradient(right, #e6e6e6, #d2d2d2);
	background-image: -o-linear-gradient(right, #e6e6e6, #d2d2d2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-transform:rotate(270deg);
	-moz-transform:rotate(270deg);
	-o-transform:rotate(270deg);
	-ms-transform:rotate(270deg);
	transform:rotate(270deg);
	margin-top: 200px;
}

.slider:focus{
	border: 0 !imporant;
	outline: none !important;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 10px;
	height: 10px;
	background-color: #555;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4DDBFF), to(#00CCFF));
	background-image: -webkit-linear-gradient(right, #4DDBFF, #00CCFF);
	background-image: -moz-linear-gradient(right, #4DDBFF, #00CCFF);
	background-image: -ms-linear-gradient(right, #4DDBFF, #00CCFF);
	background-image: -o-linear-gradient(right, #4DDBFF, #00CCFF);
}

.slider::-webkit-slider-thumb {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}

/*Container under slider*/
.power{
	font-size: 22px;
	margin-left: 20px;
	margin-top: 100px;
}

/*Container center - Video*/
.video{
	float: left;
	width: 60%;
}

img{
	width: 70%;
}

/*Right side of the container - Arrows*/
.arrows{
	float: left;
	width: 20%;
}

.arrowsContainer{
	margin-top: 200px;
}

/*Buttons*/
button{
	margin: 8px;
	width: 40px;
	height: 40px;
}